// { tweets, title, percentage (negative) } 

extends layout

block scripts
    script(type='text/javascript', src='/js/index_jquery.js')
    script(type='text/javascript', src='/js/pie_jquery.js') 
    script(type='text/javascript', src='/js/textarea_jquery.js')

block content
    div#wrapper.cf
        div#header
            h1= title 

            div.search
                form(method='get', action='/auth/twitter')
                    input.search-input(type='text', name='search', placeholder='Try a search')
                    input.search-button(type='submit', name='submit', value='submit') Go!

            //- Haz que si searchTerm = "", no muestre este cacho (if con jade, ni idea)
            if searchTerm != null 
                div.results
                    h3 
                        | Búsqueda del término:
                        span #{searchTerm}
                    h3 
                        | Términos positivos:
                        span #{contPositive}
                    h3 
                        | Términos negativos:
                        span #{contNegative}
                div.chart
                    div.percentage(data-percent='#{percentage}') #{100-percentage}
                    div.label general approval: #{100-percentage}%

        div#content
            div.tweet-list
                ol
                    each tweet in tweets
                        li
                            strong
                                p.username= tweet.username + " says..."
                            p.positive= tweet.positive
                            p.negative= tweet.negative
                            p.text= tweet.text
                            p.created_at= tweet.created_at
           
    div#footer
        p 
            | Raúl Marcos Lorenzo - Manuel Artero Anguita - Carlos Giraldo García
        p
            a(href='https://github.com/ISBC/TwitterGeneralFeeling') github
