// { tweets, title, percentage (negative) } 

extends layout

block scripts
    script(type='text/javascript', src='/js/index_jquery.js')
    script(type='text/javascript', src='/js/pie_jquery.js') 
    script(type='text/javascript', src='/js/textarea_jquery.js')

block content
    div#wrapper.cf
        div#header
            h1= title
            div.search-div
                table
                    form(method='POST', action='/search')
                        tr
                            td
                                input.search-input(type='text', , name='search', placeholder='Try a search')
                            td#button
                                input.search-button(type='submit', name='submit', value='submit') Go!

        div#content
            div.tweet-list
                ol
                    each tweet in tweets
                        li
                            p= tweet.text

            div.chart
                div.percentage(data-percent='#{percentage}') #{100-percentage}
                div.label general approval: #{100-percentage}%
    div#footer
        p 
            | Raúl Marcos Lorenzo - Manuel Artero Anguita - Carlos Giraldo García
